.social-icons {
    display: flex;
    justify-content: space-around; /* Centers the icons horizontally */
    margin-top: 20px; /* Adds some spacing */
    background-color: black;
    
  }
  
  .icon {
    display: inline-block;
    margin: 0 10px; /* Adds some spacing between icons */
  }
  
  .icon a {
    text-decoration: none;
    color: white;
  }
  
  .icon i {
    font-size: 24px; /* Adjust the icon size as needed */
    margin-right: 5px;
  }