/* components/Navbar.module.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 1000;
}

.navItems {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.navItem {
  cursor: pointer;
  font-weight: bold;
}

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 4px;
  background-color: #0070f3;
  transition: transform 0.3s ease;
}

.active {
  color: #0070f3;
}
